<main class="main mb-3 d-flex container">
    <div class="container">
        <div class="img">
            <img src="assets/img/logo.png" alt="userPhoto" class="rounded circle col-md-4 offset-md-4 pl-0 mt-3">
        </div>
        <div class="name col-md-12 text-center mt-5">
            <p class="name font-weight-bold">ivan</p>
        </div>
        <div class="lastName col-md-12 text-center mt-5">
            <p class="lastName font-weight-bold">ivanov</p>
        </div>
    </div>
    <div class="container">
        <form>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-success col-md-12">Login</button>
        </form>
    </div>
</main>