<!-- ---------------------------/bigFooter/-------------------------- -->
<footer class="card-footer h-25 bg-info bigFooter position-relative">
    <div class="container d-flex text-light" id="textFooter">
        <h6 aria-disabled="true" class="col-md-3 text-left">About company</h6>
        <h6 aria-disabled="true" class="col-md-3 text-left ">Info</h6>
        <h6 aria-disabled="true" class="col-md-3 text-left">Help</h6>
        <h6 aria-disabled="true" class="col-md-3 text-left">Obrobka zamovlen</h6>
    </div>
    <div class="container d-flex text-light">
        <div class="col col-md-3 text-left">
            <p>About us</p>
            <p>News</p>
            <p>Shops</p>
            <p>Cariera</p>
        </div>
        <hr class="bg-white text-white">
        <div class="col col-md-3 text-left">
            <p>Gift sertificate</p>
            <p>Gift </p>
            <p>Loyaliti program</p>
            <p>State</p>
        </div>
        <div class="col col-md-3 text-left ">
            <p>Oplata</p>
            <p>Garanty </p>
            <p>Contact</p>
            <p>Rules </p>
        </div>
        <div class="col col-md-3 text-left">
            <p>Пн-Пт: 09:00 - 19:00</p>
            <p>Сб-Нд: 09:00 - 18:00</p>
        </div>
    </div>
    <div class="bg-info footerBlack d-block container" id="textFooter">
        <p class="text-center my-auto py-auto text-light" id="textFooter">MamaShop 2019@All rights reserved</p>
    </div>
    <!-- position-fixed fixed-bottom -- for bigScreen-->
    <!-- position-relative -- for mobileScreen-->
</footer>
<!-- ---------------------------/mobileFooter/-------------------- -->
<footer class="card-footer h-100 bg-info mobileFooter">
    <div class="container text-light">
        <hr class="bg-white text-white">
        <div class="col col-md-3 m-0 p-0">
            <h6 aria-disabled="true" class="mx-auto text-left">About company</h6>
            <p class="m-0 p-0">About us</p>
            <p class="m-0 p-0">News</p>
            <p class="m-0 p-0">Shops</p>
            <p class="m-0 p-0">Cariera</p>
        </div>
        <hr class="bg-white text-white">
        <div class="col col-md-3 m-0 p-0">
            <h6 aria-disabled="true" class="mx-auto text-left">Info</h6>
            <p class="m-0 p-0">Gift sertificate</p>
            <p class="m-0 p-0">Gift </p>
            <p class="m-0 p-0">Loyaliti program</p>
            <p class="m-0 p-0">State</p>
        </div>
        <hr class="bg-white text-white">
        <div class="col col-md-3 m-0 p-0 ">
            <h6 aria-disabled="true" class="mx-auto text-left">Help</h6>
            <p class="m-0 p-0">Oplata</p>
            <p class="m-0 p-0">Garanty </p>
            <p class="m-0 p-0">Contact</p>
            <p class="m-0 p-0">Rules </p>
        </div>
        <hr class="bg-white text-white">
        <div class="col col-md-3 m-0 p-0">
            <h6 aria-disabled="true" class="mx-auto text-left">Obrobka zamovlen</h6>
            <p class="m-0 p-0">Пн-Пт: 09:00 - 19:00</p>
            <p class="m-0 p-0">Сб-Нд: 09:00 - 18:00</p>
        </div>
        <hr class="bg-white text-white">
    </div>
    <div class="bg-info d-block" id="textFooter">
        <p class="text-center my-auto py-auto text-light" id="textFooter">MamaShop 2019@All rights reserved</p>
    </div>
    <!-- position-fixed fixed-bottom -- for bigScreen-->
    <!-- position-relative -- for mobileScreen-->
</footer>