<main>
    <!-- ------------------------------------/bigCheckProduct/---------------------------------------- -->
    <div class="container bigSelectProduct">
        <div class="container offset-md-4 col-md-8 d-flex flex-md-wrap">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Пошук..." aria-label="Recipient's username" aria-describedby="button-addon2">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="button-addon2">Пошук</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-4 bg-light ">
                <div class="list-group bigCategories">
                    <a href="#" class="list-group-item list-group-item-action disabled" id="categories">
                        Categories
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Toys</a>
                    <a href="#" class="list-group-item list-group-item-action">Beds</a>
                    <a href="#" class="list-group-item list-group-item-action">School</a>
                    <a href="#" class="list-group-item list-group-item-action">Koliaski</a>
                </div>
            </div>
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-4"></div>
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------------------/mobileCheckProduct/-------------------------------------- -->
    <div class="container mobileCategories px-0 mb-3 w-100">
        <nav class="navbar navbar-expand-lg navbar-light" id="mobileCategories">
            <a id="catTop" href="#">Categories</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto" id="whiteText">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Toys <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Beds</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">School</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Koliaski</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="container mobileSelectProduct">
        <div class="row">
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
                <div class="card container mx-1 my-1" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- -----------------------------------/smallMobileCheckProduct/---------------------------- -->
    <div class="container smallMobileSelectProduct">
        <div class="row">
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1 mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="container col-md-8 d-flex">
                <div class="card container mx-1 my-1 mx-auto" style="width: 18rem;">
                    <img class="card-img-top" src="assets/img/telepusiki.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title text-center">Card title</h5>
                        <hr>
                        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <hr>
                        <div class="container mb-3 mx-auto text-center px-0">
                            <button class="btn btn-danger rounded-circle text-center">-</button>
                            <span class="mx-4">1 шт.</span>
                            <button class="btn btn-success rounded-circle text-center">+</button>
                        </div>
                        <hr>
                        <p class="btn bg-info text-white w-100 font-weight-bold text-center">Buy: 1999.99$</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>